// Variables
$primary-color: #2c3e50;
$secondary-color: #ecf0f1;
$button-hover-color: #2bde25;
$button-padding: 5px 15px;
$button-login: #29a0e6;
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $primary-color;
  color: $secondary-color;
}

.logo-section {
  flex: 1;
  .home-logo {
    max-width: 90px;
    cursor: pointer;
  }
}

.nav-section {
  flex: 40;
  display: flex;
  justify-content: center;
  align-items: center;

  .add-btn {
    font-size: 25px;
    margin: 0 20px;
    padding: $button-padding;
    cursor: pointer;
    color: $secondary-color;
    transition: 0.3s;
    &:hover {
      color: $button-hover-color;
    }
  }
}

.login-section {
  flex: 5;
  display: flex;
  justify-content: flex-end;

  .login-btn {
    font-size: 25px;
    padding: $button-padding;
    cursor: pointer;
    color: $secondary-color;
    transition: 0.3s;
    text-decoration: none;
    &:hover {
      color: $button-login;
    }
  }
}
.user-section {
  position: relative;
  cursor: pointer;

  .user-pfp {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.user-dropdown-menu {
  position: absolute;
  top: 90px;
  right: 5px;
  width: 100px;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  p {
    padding: 10px;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #444;
    }
  }
}
